body {
    font-family: Caveat, monospace, sans-serif;
    color: rgb(0, 0, 82);
}

p {
    margin-top: 1rem;
}
.container {
    max-height: 90vh;
}

.fa {
    font-size: 24px;
    float: right;
    cursor: pointer;
    margin: 10px;
}

.gg-math-plus {
    float: right;
    margin: 0px 15px 0px 10px;
    cursor: pointer;
}